<!-- <!DOCTYPE html>
<html lang="en"+>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Django</title>
</head>
<body>
   <h1>Project Django</h1> 
</body>
</html> -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Django</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
   <h1>Project Django</h1> 
   <h2>Welcome to my web page</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At nihil modi consequatur tenetur eos accusamus laudantium numquam ducimus eveniet a consectetur nobis aperiam asperiores deserunt architecto ipsum, praesentium nesciunt, saepe eius magni quisquam sint exercitationem ipsa? Explicabo incidunt distinctio consequatur dolor ea, repudiandae neque cumque iste in eum iure voluptatum sunt libero nulla architecto quas vel saepe odit ratione blanditiis! Ipsum architecto libero accusamus iste modi porro aperiam! Laudantium esse temporibus vitae reprehenderit est excepturi accusantium laboriosam quia minima aspernatur architecto velit beatae autem, eaque eos, perferendis vero porro sunt pariatur quas totam repellendus iusto aperiam ducimus! Facere, cupiditate exercitationem!</p>

    <img src="{% static 'download.jpg' %}">  
   <h3><footer><marquee>Thank You</marquee></footer></h3>
</body>
</html>